Package: com.trung.dotindicator
Name: DotIndicator
Version: 0.0.1
Architecture: iphoneos-arm
Description: Show dot process from application
Maintainer: Tờ Rung
Author: Tờ Rung
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)